/**/

.header {
    background: #f1f1f1;
    padding: 20px;
    color: grey;
}
ul {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
li {
    margin: 0 10px;
}
a {
    color: #42b983;
}
